/node_modules
/public
/public/storage
/storage/*.key
/vendor
/resources/dist
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
/report
.DS_Store
clover.xml
report.*